<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">📆TaskApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor"
    aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor">
    <ul class="navbar-nav ml-auto text-center">
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link text-danger" href="{{ url_for('auth.logout') }}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-secondary text-dark px-3" href="{{ url_for('auth.singup') }}">Singup</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>